tr td:first-child {
  font-weight: bold;
}

.tab-pane {
  display: none;
}

.tab-pane.profile {
  display: block;
}

.input-small {
  width: 120px;
}

form {
  padding-bottom: 15px;
}

ul {
  margin-left: 0.6em;
}

.dimensions {
	display: none;
}